body
{
    background-color:lightskyblue;
}

h1 
{
    font-size:25px;
    text-align:center;
}

h2 
{
    font-size:20px;
}

h3 
{
    font-size:17px;
}

p 
{
    background-color:deepskyblue;
    text-align:left;
    font-size:15px;
}